[submodule "libs/bit"]
	path = libs/bit
	url = https://github.com/libnagisa/bit.git
[submodule "libs/stl_freestanding/utility"]
	path = libs/stl_freestanding/utility
	url = https://github.com/libnagisa/utility.git
[submodule "libs/stl_freestanding/tuple"]
	path = libs/stl_freestanding/tuple
	url = https://github.com/libnagisa/tuple.git
[submodule "visual_studio_config"]
	path = visual_studio_config
	url = https://github.com/situNagisa/visual_studio.git
[submodule "libs/concept"]
	path = libs/concept
	url = https://github.com/libnagisa/concept.git
[submodule "libs/type_trait"]
	path = libs/type_trait
	url = https://github.com/libnagisa/type_trait.git
[submodule "libs/build_lib"]
	path = libs/build_lib
	url = https://github.com/libnagisa/build_lib.git
